.Login{
    
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    
    
}
.loginBackground{

    background-image: url("../images/loginBackground.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;

}
.loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
}

.tittleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittleContainer svg{
    margin: 0;
    margin-bottom: 1rem;
}

.userContainer input,
.passwordContainer input{
    border-radius: 7px;
    border-width: 1.5px;
    border-style: double;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 1.6rem;
    padding-left: 5px;
    
}

.userContainer input:hover,
.passwordContainer input:hover{
    border-color: black;
}

.passIcon{
    position: absolute;
    top: 63%;
    right: 12.5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.passIconColor{
    stroke: #6e6e6e;
}

.passIcon:hover{
    .passIconColor{
        stroke: black;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    
}
.buttonContainer a{
    padding-top: 0.5rem;
    font-size: small;
    text-decoration: color(rgb(204, 107, 253));
}

.buttonContainer button{
    border-radius: 7px;
    width: 10rem;
    height: 2.5rem;
    border-width: 3px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: rgb(204, 107, 253);
    color: white;
    font-weight: bold;
}




