
.Register{
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.registerBackground{
    background-image: url("../images/loginBackground.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;

}

.registerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    z-index: 1;
}